/*
Recursos:
https://placeholder.com/
https://fonts.google.com/
https://www.cssmatic.com/box-shadow

*/

:root {
  --gap-number: 10px;
  --first-color: #00867c;
  --secundary-color: #0771bd;
  --white-color: #fff;
  --text-color: #333;
  --font-size: 11px;
  --font-family: "Poppins", sans-serif;
  --border-radius: 15px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Structure */
body {
  background: #fff url("./img/bkhero.png") no-repeat center top;
  color: var(--text-color);
  font-size: var(--font-size);
}

.content-wrap {
  padding-top: 100px;
  position: relative;
}

.content-wrap .cw-misc {
  width: 130px;
  background-color: var(--first-color);
  height: 6px;
  display: block;
  top: 94px;
  position: absolute;
}

.content-wrap a {
  text-decoration: underline;
  color: var(--text-color);
  font-weight: bold;
}

.form-head {
  background-color: var(--first-color);
  color: var(--white-color);
  text-align: center;
  margin-top: 338px;
  line-height: 60px;
}
/* Responsive */
@media screen and (orientation: portrait) {
}
