/*
Recursos:
https://placeholder.com/
https://fonts.google.com/
https://www.cssmatic.com/box-shadow

*/

:root {
  --gap-number: 10px;
  --first-color: #00867c;
  --secundary-color: #183852;
  --white-color: #fff;
  --text-color: #333;
  --font-size: 14px;
  --font-family: Arial, sans-serif;
  --border-radius: 15px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1140px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Structure */
body {
  background: #fff url("./img/bkhero.png") no-repeat center top;
  color: var(--text-color);
  font-size: var(--font-size);
}

.content-wrap {
  padding-top: 182px;
  position: relative;
}

.content-wrap .cw-misc {
  width: 130px;
  background-color: var(--first-color);
  height: 6px;
  display: block;
  top: 175px;
  position: absolute;
}

.fix-height {
  height: 265px;
}

.fix-height a {
  text-decoration: underline;
  color: var(--text-color);
  font-weight: bold;
}

.icos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.icos li {
  margin-top: 30px;
  width: 50%;
}

.form-head {
  background-color: var(--first-color);
  color: var(--white-color);
  text-align: center;
  margin-top: 238px;
  line-height: 60px;
}

form {
  accent-color: var(--first-color);
}
form label {
  font-weight: bold;
  display: block;
}

form span {
  color: red;
}

form input[type="text"],
form input[type="email"] {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 30px;
}

form .indent-check {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
}

form .indent-check input[type="checkbox"] {
  margin-right: 15px;
  display: block;
  margin-top: 4px;
}

form .indent-check label {
  font-weight: normal !important;
}

form .indent-check label a {
  color: var(--first-color);
}

form input[type="submit"] {
  background-color: var(--secundary-color);
  display: block;
  text-align: center;
  color: var(--white-color);
  width: 100%;
  border: 0;
  line-height: 50px;
  margin-top: 20px;
  font-weight: bold;
}

/* footer */

footer {
  padding-bottom: 50px;
  font-size: 12px;
}

footer a {
  color: var(--first-color);
}

footer a:hover {
  text-decoration: none;
  color: var(--first-color);
}

footer ul {
  display: flex;
}

footer ul li a {
  padding-right: 30px;
  line-height: 30px;
}

footer .text-end img:nth-child(1) {
  width: 70px;
}

footer .text-end img:nth-child(3) {
  width: 90px;
  margin-top: 20px;
}

/* Responsive */
@media screen and (orientation: portrait) {
  .form-head {
    background-color: var(--first-color);
    color: var(--white-color);
    text-align: center;
    margin-top: 30px;
    line-height: 60px;
  }
}
